.about {
  margin-top: 4em;
}

.about-text {
  margin-top: 4em;
  width: 950px;
  height: 100%;
  background: rgba(65, 144, 65, 0.3);
  padding: 2em;
  margin-left: -2em;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
  position: relative;
}

.youtube-video {
  background-color: #008000;
  position: absolute;
  width: 200px;
  height: 200px;
  margin-top: -19em;
  margin-left: 55em;
}

.youtube-video p {
  margin-top: 4em;
  text-align: center;
  font-style: italic;
  font-size: 22px;
  color: white;
}

.section-tags-1,
.section-tags {
  text-align: center;
  color: #008000;
  padding-top: 3em;
}

.value-proposition {
  margin-top: -2em;
}

.metrics {
  display: flex;
  flex-direction: row;
  gap: 10em;
  text-align: center;
  justify-content: center;
  background-color: #008000;
  padding: 8em;
  margin-top: -6em;
}

.metric {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}

.team {
  margin-top: 6em;
  margin-bottom: 10em;
}

.team h2 {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: normal;
  font-size: 48px;
  color: #008000;
}

.team .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 3em;
  margin-right: 3em;
}

.image-content {
  display: flex;
  flex-direction: column;
}

.image-content img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.image-content p {
  max-width: 300px;
}

.icon-images img {
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  .about-text {
    max-width: 76%;
  }

  .about-text .about-sub-text {
    max-width: 70%;
  }

  .youtube-video {
    position: absolute;
    width: 25%;
    height: 20%;
    margin-top: -44%;
    margin-left: 70%;
  }

  .youtube-video p {
    margin-top: 32.5%;
    text-align: center;
    font-style: italic;
    font-size: 22px;
    color: white;
  }
  .metrics {
    display: flex;
    flex-direction: row;
    gap: 6%;
    padding: 4%;
    margin-top: -6%;
  }

  .metric {
    gap: 2%;
  }
  .team {
    margin-top: 2%;
    margin-bottom: 12%;
  }

  .team h2 {
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
  }
}

@media screen and (max-width: 400px) {
  .about {
    margin-top: 0.4%;
  }
  .about .app-name {
    margin-left: 4%;
    font-size: 12px;
  }
  .about-text {
    min-width: 105%;
    padding: 0.3em;
    font-size: 16px;
    align-items: center;
  }

  .about-text .about-sub-text {
    max-width: 80%;
  }
  .about-text .about-sub-text .text {
    font-size: 28px !important;
    margin-left: 1%;
  }

  .headers {
    font-size: 32px !important;
    margin-top: 1em;
    margin-bottom: -1em;
  }

  .headers .main-header {
    font-size: 28px !important;
  }

  .section-tags {
    margin-top: 14%;
  }

  .section-tags-1 {
    margin-top: -6.5%;
  }

  .youtube-video {
    position: absolute;
    width: 40%;
    height: 25%;
    margin-top: -2em;
    margin-left: 5.2em;
  }

  .youtube-video p {
    margin-top: 40%;
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: white;
  }

  .value-proposition {
    margin-bottom: -18.5%;
  }
  .value-proposition .value-header {
    margin-top: -1.5em;
  }

  .metrics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    padding: 5%;
    margin-top: 4%;
  }

  .metric {
    gap: 2px;
  }
  .team {
    margin-top: -10%;
    margin-bottom: 5%;
  }

  .team h2 {
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    font-size: 32px;
  }
  .team .images {
    display: block;
  }
  .team .images .image-content {
    font-size: 15px;
    padding-bottom: 2em;
  }
}
